:root {
  --body-bg-color: #FAF7FD;
  --purple: #BB99DD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 1440px;

  background-color: var(--body-bg-color);
}

.container {
  width: 414px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-container {
  margin-top: 6.625rem;
  text-align: center;

  color: var(--purple);

  margin-bottom: 2.063rem;
}

.avatar-container > img {
  width: 213px;
  border: 2px solid var(--purple);
  border-radius: 50%;
  padding: .25rem;

  margin-bottom: .9rem;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 4.25rem;
}

.links-container > a {
  text-decoration: none;
  color: var(--purple);
  font-size: 1.125rem;
  font-weight: 600;

  text-transform: uppercase;

  border: 1px solid var(--purple);

  padding: .5rem 10rem;

  margin-bottom: .9rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1.183rem;

  padding-bottom: 2rem;
}